.title {
    font-size: 4rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1;
    color: #ffff;
    font-family: freight-sans-condensed-pro, helveticaneue-condensed, arial narrow, sans-serif;
    text-transform: uppercase;
    text-shadow: 4px 5px 5px #333333;
    margin-top: 8%;
}

.introText {
    color: #ffd200;
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1;
    font-family: freight-sans-condensed-pro, helveticaneue-condensed, arial narrow, sans-serif;
    text-shadow: 3px 3px 4px #333333;
    margin: 3%;
    text-align: center;
}