<div class="app-container">
    <div class="tree-background d-flex flex-column align-items-center">
        <h4 class="title">THE COIMBATORE TREE CLUB</h4>
        <h3 class="introText">A non profit,non govt organization formed by people of Coimbatore to plant trees in and around their environment for a healthy living</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/k3AiRLm-DpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>